@model site.Service.ArticleViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<aside class="menu">
    @{ Html.RenderAction("Index", "Menu", new { selectedId = Model.Id}); }
</aside>
<div class="content">
    <header class="container">
        <div class="row">
            <div class="icon col-md-1 col-xs-2 text-center">
                @if (!string.IsNullOrEmpty(Model.SmallIconLink))
                {
                    <img src="@Url.Content(Model.SmallIconLink)" />}
            </div>
            <div class="col-md-10 col-xs-12 title">
                <h1 class=""><span>@Model.Title</span></h1>
            </div>
        </div>
    </header>
    <article class="fluid-container">
        @Html.Raw(HttpUtility.HtmlDecode(Model.LongDescription))
    </article>
</div>
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('.link-icon').each(function () {
            var link = $(this).find('input').val();
            $(this).css({ 'background-image': "url(" + link + ")" });
        });
    });
</script>
}