@model site.Service.ArticleViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row article-header">
        <div class="text-center col-md-1">
            @if (!string.IsNullOrEmpty(Model.SmallIconLink))
            {
                <img src="@Url.Content(Model.SmallIconLink)" />}
        </div>
        <div class="col-md-11 title">
            <h1>@Model.Title </h1>
        </div>
    </div>
    <article class="row">
        <div class="col-md-12">
            <div class="content">
                @Html.Raw(HttpUtility.HtmlDecode(Model.LongDescription))
            </div>
            <div class="demo-link">
                <a href="@Model.DemoLink" target="_blank">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true">DEMO</span>
                </a>
            </div>
        </div>
    </article>
</div>