@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<site.Service.ArticleViewModel>
<div class="container">
    <section class="intro row">
        <div class="col-md-12">
            <p><h2>Hello everybody,</h2></p>
            <p>My name is Rafaa Gahbiche, I'm a web developer.</p>
            <p><span class="glyphicon-home"></span>I am based in Barcelona.</p>
            <p>I work for D-Link where I build internet websites with cutting edge technology.</p>
            <p>
                <span class="glyphicon-cloud"></span>My stack is mostly
                <span class="skill">C#</span>,
                <span class="skill">ASP.NET</span>,
                <span class="skill">MS SharePoint</span>,
                <span class="skill">Angular</span>,
                <span class="skill">HTML5</span>,
                <span class="skill">jQuery</span>.
            </p>
            <p>
                Have a look at my most recent personal projects and please
                <a href="#">
                    <span>let me know</span>
                </a>
                if you have exciting job opportunities.
            </p>
        </div>
    </section>
    <section class="row articles">
            @foreach (var article in Model)
            {
                <div class="article col-md-4">
                    @if (!string.IsNullOrEmpty(article.BigIconLink))
                    {
                        <div class="image"><img src="@Url.Content(article.BigIconLink)" /></div>
                    }
                    <div class="title"><a href="@Url.Action("Description", "Home", new { title = article.Title }, null)"><h3>@article.Title</h3></a></div>
                    <div class="description">
                        <p>@article.ShortDescription</p>
                    </div>
                </div>
            }
    </section>
</div>