@using site.Service

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@model ArticlesGlobe

<div class="container">
    <section class="intro row">
        <div class="col-md-12">
            <p><h2>Hello everybody,</h2></p>
            <br />
            <p>My name is Rafaa Gahbiche, I'm a web developer.</p>
            <br />
            <p><span class="glyphicon glyphicon-home"></span>   I am based in Barcelona.</p>
            <br />
            <p><span class="glyphicon glyphicon-briefcase"></span>  I work for d-link where I build internet websites with cutting edge technology.</p>
            <br />
            <p>
                <span class="glyphicon glyphicon-pencil"></span>    My stack is mostly
                <span class="skill">C#</span>,
                <span class="skill">ASP.NET</span>,
                <span class="skill">MS SharePoint</span>,
                <span class="skill">jQuery</span>,
                <span class="skill">HTML5</span>,
                <span class="skill">Angular</span>.
            </p>
            <br />
            <p><i class="glyphicon glyphicon-envelope"></i>
                have a look at my most recent personal projects below.
            </p>
        </div>
    </section>
    <section class="row articles">
            @foreach (var article in Model.Articles)
            {
                <div class="article col-md-4">
                    @if (!string.IsNullOrEmpty(article.BigIconLink))
                    {
                        <div class="image"><img src="@Url.Content(article.BigIconLink)" /></div>
                    }
                    <div class="title"><a href="@Url.Action("Description", "Home",
                                               new { id = article.Id, title = article.Title.FriendlyTitle()}, null)">@article.Title</a></div>
                    <div class="description">
                        <span>@article.ShortDescription</span>
                    </div>
                </div>
            }
    </section>
</div>
