@font-face {
	font-family: 'icomoon', 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

body > header {
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),
        0 1px 18px 0 rgba(0,0,0,0.12), 
        0 3px 5px -1px rgba(0,0,0,0.3);
}
body > header a {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

body > header a:hover {
    color: #fff;
}

body > header > .logo {
    margin: 10px;
    padding: 0 5px;
    background: #000;
    display: inline-block;
}

main {
    margin-top: 60px;
}

footer {
    background: #a2a2a2;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 15px;
    padding: 10px 0;
}

section a:hover {
    text-decoration: none;
}

section.intro {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console';
    font-size: 18px;
    margin-bottom: 65px;
}

section.intro h2 {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console';
}

span.skill {
    background-color: #64FF00;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.articles .image {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.articles p {
    line-height: 2;
}

.article .title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    background: #000;
    padding: 3px 0;
}

.article .title > a {
    color: #fff;
}

.article .description {
    font-size: 16px;
    line-height: 30px;
}

.article-header > div {
    margin-top: 30px;
    margin-bottom: 30px;
}
.article-header h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

article .title {
    text-transform: uppercase;
}

article .description {
    font-style: italic;
    color: grey;
    margin-bottom: 25px;
}

article .content {
    font-size: 16px;
}

.demo-link {
    display: inline-block;
    padding: 0 90px;
}

.demo-link > a:hover {
    color: #fff;
    text-decoration: none;
}

.title > h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}